@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    padding: 2rem;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-bottom: 2rem;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    padding: 2rem;
    width: 842px;
    gap: 1.5rem;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    padding: 1.5rem;
}

.box1 p {
    font-size: 13.6px;
    color: hsl(186, 14%, 43%);
    margin-bottom: .3rem;
}

.inputEl {
    position: relative;
}

.inputEl img {
    position: absolute;
    top: .8rem;
    left: 1rem;
}

input {
    background-color: hsl(189, 41%, 97%);
    border: 2px solid transparent;
    color: hsl(183, 100%, 15%);
    text-align: right;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 4px;
    font-weight: 700;
    font-family: inherit;
    width: 100%;
}

input:focus {
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}

.input2 p {
    margin-bottom: 1rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .7rem;
}

.btn {
    padding: 0.5rem 2rem;
    border: 0;
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    border-radius: 4px;
    font-size: 1.25rem;
    font-family: inherit;
}

.custom {
    border-radius: 4px;
    max-width: 8rem;
    padding: .35rem .3rem;
}

button {
    cursor: pointer;
    max-width: 100%;
    text-align: center;
}


.box2 {
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    border-radius: 20px;
    width: 50%;
    justify-content: space-between;
}

@media(min-width:888px) {
    .box2 {
        padding: 3rem;
    }
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat h2 {
    font-size: 36px;
    color: hsl(172, 67%, 45%);
}

span {
    font-size: 13.5px;
}

small {
    font-size: 0.75rem;
    color: hsl(186, 14%, 43%);
}

.resetBtn {
    font-family: inherit;
    border: 0;
    padding: 0.5rem 0;
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    font-size: 1.25rem;
    background-color: hsl(183, 96%, 22%);
    border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 12px;
}

footer a {
    color: red;
}

@media(max-width:890px) {
    .container {
        width: 100%;
    }

    .box2 {
        padding: 2rem 1rem;
    }

    .buttons {
        display: grid;
        grid-template-columns: auto auto;
    }
}